<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue ztm</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app">
      <p v-if="mode == 1">Showing v-if directive content</p>
      <template v-else-if="mode == 2">
        <h1>v-else-if</h1>
        <p>Bonus content</p>
      </template>

      <p v-else>else part</p>

      <i v-show="mode ==1">v-show</i>

      <select v-model="mode">
        <option value="1">v-if</option>
        <option value="2">v-else-if</option>
        <option value="3">v-else</option>
      </select>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
