<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue ztm</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app">
      <h1>Birds</h1>
      <ul>
        <li v-for="(bird, index) in birds" :key="index">{{ bird }}</li>
      </ul>

      <hr />

      <h1>People</h1>
      <ul>
        <li v-for="person in people">
          <div v-for="(key, value) in person">{{ key }} : {{ value}}</div>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
